html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: white;
  color: #0e131f;
  overflow: scroll;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

a {
  color: #0e131f;
  margin: 1em;
}

label {
  display: block;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
.links {
  margin-top: 20px;
}

hr {
  margin-bottom: 0;
}

/* about */

.about {
  background: #f45b69;
  width: 110%;
  z-index: -1;
}

.about h2 {
  margin-top: 0;
}

.about-details {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
}

.about-contents {
  padding-top: 15%;
}

.about-container {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1em;
  border-radius: 20px;
  border: 2px solid #f45b69;
  width: 70%;
  height: 50%;
  margin: 0% 0 15% 0;
  z-index: 1;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hobbies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.hobbies li {
  padding: 0;
}

.about-background {
  background-image: url(background.jpg);
  height: 150%;
  width: 100%;
  position: absolute;
}

.about-shapes {
  background-image: url(shapes.png);
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

/* contact */

.contact-body {
  margin-left: 5%;
}

.contact-body a {
  margin-left: 5%;
}

.contact-form {
  text-align: center;
  width: 50%;
  margin: 20px auto;
}

form {
  border: 3px solid #f45b69;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(28, 202, 216, 0.4);
}

button {
  width: 100px;
  height: 30px;
  background-color: #2f97c1;
  color: #eeeeff;
}

/* social */

.social {
  display: flex;
  justify-content: center;
}

.social-item a img {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 15%;
  border: solid #0e131f;
}

.social-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #eeeeff;
  width: 55%;
  padding: 20px 40px 20px 40px;
  border-radius: 60%;
  border: solid #f45b69;
}
.social-container {
  display: flex;
  justify-content: center;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.title {
  color: #0e131f;
  font-family: Arial;
  text-align: center;
}

/* projects */

.container {
  display: grid;
  grid-template-columns: repeat(2, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
  /* background-color: #F45B69 */
}

.container section {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  background-color: rgba(244, 91, 104, 0.75);
}

.project-img {
  width: 400px;
  height: 300px;
}

.project-item {
  position: relative;
  transition: 250ms all;
  width: 90%;
  height: 100%;
}

.flex-project {
  width: 90%;
  margin-left: 3em;
  overflow: scroll;
}

.arrows {
  position: absolute;
  color: #1ccad8;
  text-decoration: none;
  font-size: 4em;
  width: 80px;
  padding: 100px 0;
  text-align: center;
  z-index: 1;
  margin: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0e131f;
}

.left_arrow {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, #f45b69 50%);
}
.right_arrow {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #f45b69 50%);
}

.flip-card {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

.container:focus-within .flip-card,
.container:hover .flip-card {
  transform: translateX(-25%);
}

.flip-card:focus ~ .flip-card,
.flip-card:hover ~ .flip-card {
  transform: translateX(25%);
}

.container .flip-card:focus,
.container .flip-card:hover {
  transform: scale(1.01);
  z-index: 2;
}

.flip-card img {
  display: block;
  max-width: 100%;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 300px;
  padding: 0%;
  margin: 0%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:active .flip-card-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: solid #0e131f;
}

.back {
  background-color: #2f97c1;
  color: #eeeeff;
  transform: rotateY(180deg);
}

/* team */

.team-members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.team-wrapper {
  height: 50%;
}

.team-member {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateX(-150%);
  visibility: hidden;
}

.team-animation {
  visibility: visible;
  animation: 3s slide-right 0.1s forwards;
}

@keyframes slide-right {
  to {
    transform: translateX(0);
    visibility: visible;
  }
}

.team-pic {
  overflow: hidden;
  border-radius: 15%;
  border: solid #2f97c1;
  width: 350px;
  height: 350px;
}

.profile-pic {
  height: 350px;
  width: 350px;
}

.team-member .team-info {
  background-color: #f45b69;
  color: #eeeeff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 20px 0 20px;
  z-index: 1;
}
